.a {
  background: no-repeat url('../images/3.webp');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.login-page {
  width: 400px;
  height: 550px;
  color: black;
  background-color: rgba(255, 255, 255, 0.15); /* Glassmorphism effect */
  backdrop-filter: blur(8px); /* Glassmorphism effect */
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the login form horizontally */
}

.center h6 {
  font-size: 25px;
}

.login1 {
  width: 100%;

}

.borderbox {
  outline: none;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 5px;
}

.form-login1 {
  padding-top: 7%;
}

.form-login1 label {
  font-size: 17px;
  margin-left: 20px;
  font-weight: bolder;
}

.input-email,
.input-password {
  background: #ededed;
  border-radius: 25px;
  margin: 6px 0 9px 0;
  padding: 10px;
  display: flex;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 5px;
  outline: none;
}



h2 {
  font-family: Verdana, Geneva, sans-serif;
}

.h {
  padding-top: 6%;
  color: black;
  font-size: 13px;
}


.button-containe{
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  text-decoration: solid;
}


button {
  width: 150px;
  border-radius: 25px;
  padding: 10px;
  background-color: rgba(250, 243, 243, 0.15); /* Glassmorphism effect */
  backdrop-filter: blur(8px); /* Glassmorphism effect */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: rgba(250, 243, 243, 0.3); /* Lighten the background on hover */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Adjusted box shadow on hover */
  opacity: 0.9;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

h5 {
  text-align: center;
  margin-top: 20px;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .login1 {
    width: 90%;
    padding: 20px;
  }

  .form-login1 label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px;
  }

  button {
    font-size: 30px;
  }

  h5 {
    font-size: 12px;
    text-align: center;
  }
}

